/* Variables */

--font-text: 'Roboto', sans-serif;
--font-header: 'Amaranth', sans-serif;
/* Global */

 *, *::before, *::after {
	box-sizing: border-box;
}

body {
  background: #444;
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Roboto', sans-serif;
  cursor: default;
}

.container {
  position: relative;
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  display: column;
  align-items: center;
  justify-content: center;
  padding: 96px 0;
  text-align: center;
}

.box {
  position: relative;
  padding: 20px;
  max-width: 400px;
}

/* Song */

.box-song {
  background: #f3f3f3;
  text-align: left;
}

.song-title {
    font-family: 'Amaranth', sans-serif;
    font-weight: 700;
    line-height: 0.5;
}

.song-subtitle {
    font-weight: 200;
    font-size: 16px;
    font-style: italic;
    line-height: 0.5;
}


/* Hello-world */

 .box-hello-world {
background: yellow;
}


/* Node JS */

.box-nodejs {
  background: green;
}
